<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO App</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <form action="/update" method="post">
        <ul>
          {% for task in tasks %}
          <li>
            <span>{{ task }}</span>
            <button type="submit" name="id" value="{{ task }}">Done</button>
          </li>
          {% endfor %}
        </ul>

        <div class="form-group">
          <input type="text" name="task" />
          <button type="submit">作成</button>
        </div>
      </form>
    </div>
  </body>
</html>
